/* frdm_mcxn947_mcxn947_cpu0.overlay */

/* 必须包含这个文件，才能使用 PWM_MSEC 和 PWM_POLARITY_NORMAL 等宏 */
#include <zephyr/dt-bindings/pwm/pwm.h>
/* 必须包含这个文件，才能使用 DT_FREQ_K 和 DT_FREQ_M 等宏 */
#include <freq.h>

/ {
    aliases {
        pwm-led0 = &flex_pwm_led;
        ambient-temp0 = &p3t1755;
    };

    pwmleds {
        compatible = "pwm-leds";
        status = "okay";

        flex_pwm_led: flex_pwm_led {
            /* 引用 flexpwm1_pwm0 模块 */
            /* 参数：<控制器 通道(0) 默认周期(20ms) 极性> */
            pwms = <&flexpwm1_pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
            label = "FLEXPWM LED";
        };
    };
};

&i3c1 {
	status = "okay";

	i2c-scl-hz = <DT_FREQ_K(400)>;
	i3c-scl-hz = <DT_FREQ_M(4)>;
	i3c-od-scl-hz = <DT_FREQ_K(1500)>;

	p3t1755: p3t1755@4800000236152a0090 {
		compatible = "nxp,p3t1755";
		reg = <0x48 0x0236 0x152a0090>;
		status = "okay";
	};
};
